:root {
    --text-color: #fdfdff; 
    --background-color: #000000;
    --link-color: #90e0ef ;
    --active-color: #a2bffb;
    --focus-color: #fff6f4;
    --hover-color: #fff6f4;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* FOOTER */
footer {
    color: var(--text-color);
    padding: 10px;
    margin: 10px auto;
    text-align: center;
}


/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 50px;
    height: 100px;
}

nav .active {
    color: var(--active-color);
    outline: 3px solid var(--active-color);
    border-radius: 2px;
}

nav .left a {
       background: linear-gradient(90deg,
    #ffadad,
    #fdffb6,
    #9bf6ff,
    #bdb2ff,
    #ffc6ff);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
    transition: 0.1s;
    font-size: 30px;
    font-weight: 600;
    transition: .1s;
}

nav .right a {
    color: var(--link-color);
    margin: 0 10px;
    transition: .1s;
    font-size: 25px;
}

nav .right a span {
    margin-left: 5px;
    padding: 5px 6px;
}

nav .left .initials {
    display: none;
}

nav .right a:active,
nav .left a:active {
    color: var(--active-color);
}

nav .right a:hover,
nav .left a:hover {
    color: var(--hover-color);
}


hr {
    width: 90%;
    border: 1px solid var(--text-color);
    margin: auto;
}

/* SECTION 1: Hero */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
    color: var(--text-color);
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 45px;
}

.hero-section .text .links {
    margin: 25px;
}

.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img {
    border-radius: 50%;
    width: 350px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .text .links a:hover {
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
}

.hero-section .links a:last-child {
    color: var(--background-color);
    background-color: var(--link-color);
    padding: 5px 15px;
    border-radius: 5px;
}

.hero-section .links a:last-child:hover {
    color: var(--background-color);
    background-color: var(--hover-color);
}

.hero-section .links a:last-child:active {
    color: var(--background-color);
    background-color: var(--active-color);
    border: 2px solid var(--active-color);
}

/* SECTION 2: Skills */
.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
    color: var(--text-color);
    
}

.skills-section h2 {
    text-align: center;
    font-size: 35px;
}

.skills-section .text {
    text-align: center;
    margin-bottom: 20px;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px; 
}

.skills-section .cells .cell span {
    font-size: 18px;
}

.skills-section .cells .cell img {
    width: 30px ;
    height: 30px ;
    object-fit: contain;
    border-radius: 2px;
}
/* SECTION 3: Projects */
.projects-section {
    padding: 0 50px;
    margin-bottom: 100px;
    color: var(--text-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    gap: 40px;
}

.projects-section h2 {
    font-size: 45px;
    margin: 30px auto;
    
}

.projects-section .group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.projects-section .group .person-details {
    text-align: center;
    flex: 2;
}

.projects-section .group .text {
    flex: 8;
}

.projects-section .group .person-details img {
    width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.projects-section .group .person-details p {
    font-weight: 600;
}

.projects-section .group .person-details p:last-child {
    font-weight: normal;
}

/* SECTION 4: Contact */

.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
    color: var(--text-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    gap: 40px;
}

.contact-section input,
.contact-section textarea {
    color: var(--text-color);
}

.contact-section h2 {
    font-size: 45px;
    margin: 30px auto;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text {
    flex: 3;
    margin-top: 20px;
}

.contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    resize: vertical ;
}

.contact-section .group form button {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--background-color);
    background-color: var(--link-color);
    height: 50px;
    transition: .1s;
}

.contact-section .group form button:hover {
    filter:brightness(.8);
}

.contact-section .group form button:active {
    background-color: var(--active-color);
    color: var(--text-color);
}

@media (max-width: 850px) {
/* SECTION 1: Hero */
    .hero-section .text h2 {
        font-size: 35px;
    }
}

@media (max-width: 740px) {

/* NAVBAR */
nav {
        padding: 0 15px
    }
   
    nav .right a {
        font-size: 15px;
        margin: 0px;
    }

    nav .right a span {
        display: inline-block;
        justify-content: right;
    }
   


/* SECTION 1: Hero */
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .headshot img {
        width: 300px;
    }


/* SECTION 3: Projects */
    .projects-section {
        text-align: center;
    }

    .projects-section .group {
        flex-direction: column;
    }

/* SECTION 4: Contact */
    .contact-section .group {
        flex-direction: column;
    }

}

@media (max-width: 600px) {
/* NAVBAR */
    nav {
        padding: 0 15px
    }

    nav .left .full-name {
        display: none;
    }

    nav .left .initials {
        display: inline-block;
        padding: 0 10px 0 0;
    }
   
    nav .right a {
        font-size: 15px;
        margin: 0px;
    }

    nav .right a span {
        display: inline-block;
        justify-content: right;
    }
   

/* SECTION 1: Hero */

    .hero-section {
        padding: 0 20px;
    }

    .hero-section .text h2 {
        font-size: 30px;
    }

/* SECTION 2: Skills */
    
    .skills-section {
        padding: 0 20px;
    }

    .skills-section .cells .cell span {
        font-size: 16px;
    }

/* SECTION 3: Projects */
    .projects-section {
        padding: 0 20px;
}

/* SECTION 4: Contact */

    .contact-section {
        padding: 0 20px;
    }
}