:root {
  --h1-text: 2rem;
  --h2-text: 1.5rem;
  --h3-text: 1.75rem;
  --h4-text: 1.25rem;
  --regular-text: 1rem;
  --small-text: .75rem;
  --p: "sans serif";
  --shadow-s: inset 0 2px 3px #aac1ff4d, 0 1px 2px #000f3059, 0 2px 4px #00000015;
  --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
  --transition: all 0.3s ease-in-out;
  --box-margin: 1rem .5rem;
}

:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(212 100% 3%);
  --bg: hsl(199 100% 3%);
  --bg-light: hsl(193 100% 4%);
  --text: hsl(190 100% 86%);
  --text-muted: hsl(189 60% 59%);
  --highlight: hsl(189 100% 12%);
  --border: hsl(191 100% 9%);
  --border-muted: hsl(194 100% 7%);
  --primary: hsl(187 100% 24%);
  --secondary: hsl(8 100% 73%);
  --danger: hsl(7 100% 66%);
  --warning: hsl(53 100% 21%);
  --success: hsl(162 100% 22%);
  --info: hsl(217 100% 70%);
  --logo: hsl(187 100% 24%);
  /* oklch */
  --bg-dark: oklch(0.1 0.1 211);
  --bg: oklch(19.354% 0.04427 245.393);
  --bg-light: oklch(0.2 0.1 211);
  --text: oklch(0.96 0.1 211);
  --text-muted: oklch(0.76 0.1 211);
  --highlight: oklch(0.5 0.2 211);
  --border: oklch(0.4 0.2 211);
  --border-muted: oklch(0.3 0.2 211);
  --primary: oklch(0.76 0.2 211);
  --secondary: oklch(0.76 0.2 31);
  --danger: oklch(0.7 0.2 30);
  --warning: oklch(0.7 0.2 100);
  --success: oklch(0.7 0.2 160);
  --info: oklch(0.7 0.2 260);
}

body.light {
  /* hsl (fallback color) */
  --bg-dark: hsl(223 100% 97%);
  --bg: hsl(223 100% 100%);
  --bg-light: hsl(223 100% 100%);
  --text: hsl(263 100% 13%);
  --text-muted: hsl(232 71% 41%);
  --highlight: hsl(224 100% 100%);
  --border: hsl(227 90% 63%);
  --border-muted: hsl(226 100% 76%);
  --primary: hsl(232 71% 41%);
  --secondary: hsl(38 100% 12%);
  --danger: hsl(4 99% 37%);
  --warning: hsl(50, 62%, 44%);
  --success: hsl(159 100% 9%);
  --info: hsl(215 95% 42%);
  /* oklch */
  --bg-dark: oklch(79.169% 0.10919 250.916);
  --bg: oklch(95.913% 0.02425 230.599);
  --bg-light: oklch(88.459% 0.06204 293.213);
  --text: oklch(20.044% 0.12585 275.173);
  --text-muted: oklch(0.4 0.2 268);
  --highlight: oklch(1 0.2 268);
  --border: oklch(0.6 0.2 268);
  --border-muted: oklch(0.7 0.2 268);
  --primary: oklch(0.4 0.2 268);
  --secondary: oklch(0.4 0.2 88);
  --danger: oklch(0.5 0.2 30);
  --warning: oklch(70.292% 0.13127 97.402);
  --success: oklch(0.5 0.2 160);
  --info: oklch(0.5 0.2 260);
}

/* global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: var(--bg);
  max-width: 1400px;
  margin: 0 auto;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--text);
  transition: 0.3s ease;
}

p {
  color: var(--text);
  font-size: var(--regular-text);
}

button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--bg);
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  box-shadow: var(--shadow-s);
  cursor: pointer;
  font: var(--p);
  color: var(--text);
  transition: var(--transition);
}

hr {
  width: 90%;
  border: 1px solid var(--text);
  margin: auto;
}

h2 {
  font-size: var(--h2-text);
}

/* global classes */
.section {
  padding: 2rem;
  margin: 3% auto 8% auto;
  color: var(--text);
  width: 90%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
  gap: 1rem;
}

.card {
  padding: 1rem 1.5rem;
  background: var(--bg-dark);
  box-shadow: var(--shadow-s);
  margin: var(--box-margin);
  border-radius: 8px;
}

.card:hover {
  background: var(--bg-light);
  box-shadow: var(--shadow-m);
  transition: var(--transition);
  cursor: pointer;
}

.logo {
  height: 2rem;
  width: auto;
  margin: 0.5rem;
}

.icon:hover {
  box-shadow: var(--shadow-m);
  opacity: 1;
}

/* NAVBAR */
.main-logo {
  font-size: 1.5rem;
  color: var(--primary);
}

.light .main-logo {
  color: var(--border);
}

.toggle-btn {
  border: 1px solid var(--border-muted);
  width: 0.5rem;
  height: auto;
  margin: auto 0.3rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: var(--shadow-s);
  opacity: 0.6;
}

.toggle-btn:hover {
  opacity: 1;
  transition: 0.3s;
  box-shadow: var(--shadow-m);
}

.lightbulb,
.globe {
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 50px;
  height: 100px;
}

nav .left a {
  color: var(--text);
  font-size: var(--h4-text);
  font-weight: 600;
  transition: 0.3s;
}

nav .right {
  color: var(--info);
  margin: 0 10px;
  transition: 0.1s;
  font-size: var(--h4-text);
}

nav .right a span {
  margin-left: 5px;
  padding: 5px 6px;
}

/* FOOTER */
footer {
  color: var(--text);
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  font-size: var(--regular-text);
}

.socials-icon {
  margin: 1rem;
  font-size: 1.5rem;
  opacity: 0.6;
}

.socials-icon:hover {
  cursor: pointer;
  font-size: 1.5rem;
  opacity: 1;
  transition: 0.3s;
  color: var(--primary);
  filter: drop-shadow(0 0 5px);
}

/* effects */
/* glow */
.glow {
  animation: glow 5s ease-in-out infinite;
}

@keyframes glow {
  0%, 100% {
    filter: drop-shadow(0 0 0px var(--primary));
  }
  50% {
    filter: drop-shadow(0 0 10px var(--primary));
  }
}
.light .glow {
  animation: none;
}

.particle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(69vw, 10vh, 96px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.78;
  height: 7px;
  width: 7px;
  animation-delay: -0.2s;
  transform: translate3d(28vw, 89vh, 66px);
  background: var(--primary);
}

.light .particle:nth-child(1) {
  background: hsl(147, 70%, 50%);
  height: 14px;
  width: 14px;
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(1vw, 25vh, 94px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.28;
  height: 6px;
  width: 6px;
  animation-delay: -0.4s;
  transform: translate3d(78vw, 40vh, 94px);
  background: var(--primary);
}

.light .particle:nth-child(2) {
  background: hsl(189, 70%, 50%);
  height: 15px;
  width: 15px;
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(38vw, 41vh, 80px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.4;
  height: 8px;
  width: 8px;
  animation-delay: -0.6s;
  transform: translate3d(88vw, 84vh, 56px);
  background: var(--primary);
}

.light .particle:nth-child(3) {
  background: hsl(163, 70%, 50%);
  height: 12px;
  width: 12px;
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(90vw, 14vh, 75px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.95;
  height: 8px;
  width: 8px;
  animation-delay: -0.8s;
  transform: translate3d(51vw, 40vh, 14px);
  background: var(--primary);
}

.light .particle:nth-child(4) {
  background: hsl(356, 70%, 50%);
  height: 11px;
  width: 11px;
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(87vw, 76vh, 75px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.82;
  height: 8px;
  width: 8px;
  animation-delay: -1s;
  transform: translate3d(81vw, 41vh, 18px);
  background: var(--primary);
}

.light .particle:nth-child(5) {
  background: hsl(173, 70%, 50%);
  height: 14px;
  width: 14px;
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(1vw, 31vh, 63px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.12;
  height: 8px;
  width: 8px;
  animation-delay: -1.2s;
  transform: translate3d(83vw, 47vh, 79px);
  background: var(--primary);
}

.light .particle:nth-child(6) {
  background: hsl(331, 70%, 50%);
  height: 14px;
  width: 14px;
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(89vw, 52vh, 64px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.83;
  height: 8px;
  width: 8px;
  animation-delay: -1.4s;
  transform: translate3d(22vw, 24vh, 57px);
  background: var(--primary);
}

.light .particle:nth-child(7) {
  background: hsl(81, 70%, 50%);
  height: 13px;
  width: 13px;
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(52vw, 5vh, 51px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.9;
  height: 8px;
  width: 8px;
  animation-delay: -1.6s;
  transform: translate3d(9vw, 62vh, 20px);
  background: var(--primary);
}

.light .particle:nth-child(8) {
  background: hsl(126, 70%, 50%);
  height: 13px;
  width: 13px;
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(77vw, 23vh, 30px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.76;
  height: 10px;
  width: 10px;
  animation-delay: -1.8s;
  transform: translate3d(68vw, 43vh, 58px);
  background: var(--primary);
}

.light .particle:nth-child(9) {
  background: hsl(344, 70%, 50%);
  height: 13px;
  width: 13px;
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(68vw, 31vh, 59px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.43;
  height: 10px;
  width: 10px;
  animation-delay: -2s;
  transform: translate3d(42vw, 89vh, 39px);
  background: var(--primary);
}

.light .particle:nth-child(10) {
  background: hsl(290, 70%, 50%);
  height: 13px;
  width: 13px;
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(79vw, 66vh, 23px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.64;
  height: 10px;
  width: 10px;
  animation-delay: -2.2s;
  transform: translate3d(71vw, 48vh, 67px);
  background: var(--primary);
}

.light .particle:nth-child(11) {
  background: hsl(105, 70%, 50%);
  height: 12px;
  width: 12px;
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(29vw, 88vh, 77px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.45;
  height: 10px;
  width: 10px;
  animation-delay: -2.4s;
  transform: translate3d(40vw, 27vh, 97px);
  background: var(--primary);
}

.light .particle:nth-child(12) {
  background: hsl(16, 70%, 50%);
  height: 12px;
  width: 12px;
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(78vw, 58vh, 7px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.54;
  height: 8px;
  width: 8px;
  animation-delay: -2.6s;
  transform: translate3d(6vw, 82vh, 20px);
  background: var(--primary);
}

.light .particle:nth-child(13) {
  background: hsl(358, 70%, 50%);
  height: 13px;
  width: 13px;
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(84vw, 79vh, 53px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.77;
  height: 8px;
  width: 8px;
  animation-delay: -2.8s;
  transform: translate3d(26vw, 84vh, 53px);
  background: var(--primary);
}

.light .particle:nth-child(14) {
  background: hsl(307, 70%, 50%);
  height: 11px;
  width: 11px;
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(14vw, 49vh, 90px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.96;
  height: 10px;
  width: 10px;
  animation-delay: -3s;
  transform: translate3d(50vw, 56vh, 44px);
  background: var(--primary);
}

.light .particle:nth-child(15) {
  background: hsl(69, 70%, 50%);
  height: 14px;
  width: 14px;
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(41vw, 20vh, 51px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 1;
  height: 10px;
  width: 10px;
  animation-delay: -3.2s;
  transform: translate3d(15vw, 81vh, 50px);
  background: var(--primary);
}

.light .particle:nth-child(16) {
  background: hsl(296, 70%, 50%);
  height: 14px;
  width: 14px;
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(29vw, 57vh, 69px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.56;
  height: 10px;
  width: 10px;
  animation-delay: -3.4s;
  transform: translate3d(10vw, 15vh, 53px);
  background: var(--primary);
}

.light .particle:nth-child(17) {
  background: hsl(9, 70%, 50%);
  height: 11px;
  width: 11px;
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(48vw, 5vh, 95px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.64;
  height: 9px;
  width: 9px;
  animation-delay: -3.6s;
  transform: translate3d(57vw, 73vh, 19px);
  background: var(--primary);
}

.light .particle:nth-child(18) {
  background: hsl(163, 70%, 50%);
  height: 11px;
  width: 11px;
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(45vw, 90vh, 29px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.76;
  height: 6px;
  width: 6px;
  animation-delay: -3.8s;
  transform: translate3d(66vw, 45vh, 88px);
  background: var(--primary);
}

.light .particle:nth-child(19) {
  background: hsl(66, 70%, 50%);
  height: 15px;
  width: 15px;
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(65vw, 68vh, 36px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.84;
  height: 9px;
  width: 9px;
  animation-delay: -4s;
  transform: translate3d(12vw, 49vh, 77px);
  background: var(--primary);
}

.light .particle:nth-child(20) {
  background: hsl(310, 70%, 50%);
  height: 13px;
  width: 13px;
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(73vw, 61vh, 92px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.51;
  height: 10px;
  width: 10px;
  animation-delay: -4.2s;
  transform: translate3d(86vw, 62vh, 33px);
  background: var(--primary);
}

.light .particle:nth-child(21) {
  background: hsl(70, 70%, 50%);
  height: 13px;
  width: 13px;
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(3vw, 8vh, 58px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.16;
  height: 6px;
  width: 6px;
  animation-delay: -4.4s;
  transform: translate3d(65vw, 55vh, 50px);
  background: var(--primary);
}

.light .particle:nth-child(22) {
  background: hsl(179, 70%, 50%);
  height: 15px;
  width: 15px;
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(5vw, 10vh, 57px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.21;
  height: 7px;
  width: 7px;
  animation-delay: -4.6s;
  transform: translate3d(18vw, 19vh, 47px);
  background: var(--primary);
}

.light .particle:nth-child(23) {
  background: hsl(133, 70%, 50%);
  height: 15px;
  width: 15px;
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(64vw, 71vh, 3px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.13;
  height: 8px;
  width: 8px;
  animation-delay: -4.8s;
  transform: translate3d(19vw, 45vh, 42px);
  background: var(--primary);
}

.light .particle:nth-child(24) {
  background: hsl(237, 70%, 50%);
  height: 11px;
  width: 11px;
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(7vw, 24vh, 6px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.15;
  height: 8px;
  width: 8px;
  animation-delay: -5s;
  transform: translate3d(33vw, 33vh, 42px);
  background: var(--primary);
}

.light .particle:nth-child(25) {
  background: hsl(130, 70%, 50%);
  height: 15px;
  width: 15px;
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(40vw, 14vh, 70px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.7;
  height: 7px;
  width: 7px;
  animation-delay: -5.2s;
  transform: translate3d(3vw, 89vh, 90px);
  background: var(--primary);
}

.light .particle:nth-child(26) {
  background: hsl(230, 70%, 50%);
  height: 11px;
  width: 11px;
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(32vw, 74vh, 43px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.65;
  height: 9px;
  width: 9px;
  animation-delay: -5.4s;
  transform: translate3d(1vw, 31vh, 13px);
  background: var(--primary);
}

.light .particle:nth-child(27) {
  background: hsl(128, 70%, 50%);
  height: 11px;
  width: 11px;
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(78vw, 68vh, 99px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.04;
  height: 10px;
  width: 10px;
  animation-delay: -5.6s;
  transform: translate3d(85vw, 31vh, 86px);
  background: var(--primary);
}

.light .particle:nth-child(28) {
  background: hsl(26, 70%, 50%);
  height: 13px;
  width: 13px;
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(83vw, 23vh, 99px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.88;
  height: 10px;
  width: 10px;
  animation-delay: -5.8s;
  transform: translate3d(87vw, 78vh, 20px);
  background: var(--primary);
}

.light .particle:nth-child(29) {
  background: hsl(264, 70%, 50%);
  height: 13px;
  width: 13px;
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(43vw, 12vh, 64px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.91;
  height: 8px;
  width: 8px;
  animation-delay: -6s;
  transform: translate3d(78vw, 89vh, 63px);
  background: var(--primary);
}

.light .particle:nth-child(30) {
  background: hsl(44, 70%, 50%);
  height: 14px;
  width: 14px;
}/*# sourceMappingURL=index.css.map */