:root {

    --h1-text: 2rem;
    --h2-text: 1.5rem;
    --h3-text: 1.75rem;
    --h4-text: 1.25rem;

    --regular-text: 1rem;
    --small-text: .75rem;

    --p: "sans serif";

    --shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
    --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
    --transition: all 0.3s ease-in-out;
    --box-margin: 2rem .5rem;
}


:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(212 100% 3%);
  --bg: hsl(199 100% 3%);
  --bg-light: hsl(193 100% 4%);
  --text: hsl(190 100% 86%);
  --text-muted: hsl(189 60% 59%);
  --highlight: hsl(189 100% 12%);
  --border: hsl(191 100% 9%);
  --border-muted: hsl(194 100% 7%);
  --primary: hsl(187 100% 24%);
  --secondary: hsl(8 100% 73%);
  --danger: hsl(7 100% 66%);
  --warning: hsl(53 100% 21%);
  --success: hsl(162 100% 22%);
  --info: hsl(217 100% 70%);
  /* oklch */
  --bg-dark: oklch(0.1 0.1 211);
  --bg: oklch(0.15 0.1 211);
  --bg-light: oklch(0.2 0.1 211);
  --text: oklch(0.96 0.1 211);
  --text-muted: oklch(0.76 0.1 211);
  --highlight: oklch(0.5 0.2 211);
  --border: oklch(0.4 0.2 211);
  --border-muted: oklch(0.3 0.2 211);
  --primary: oklch(0.76 0.2 211);
  --secondary: oklch(0.76 0.2 31);
  --danger: oklch(0.7 0.2 30);
  --warning: oklch(0.7 0.2 100);
  --success: oklch(0.7 0.2 160);
  --info: oklch(0.7 0.2 260);
}
/*
body.light {
 (fallback color)
  --bg-dark: hsl(189 100% 80%);
  --bg: hsl(190 100% 86%);
  --bg-light: hsl(190 100% 91%);
  --text: hsl(211 100% 6%);
  --text-muted: hsl(191 100% 9%);
  --highlight: hsl(186 100% 45%);
  --border: hsl(188 100% 16%);
  --border-muted: hsl(187 100% 21%);
  --primary: hsl(191 100% 9%);
  --secondary: hsl(357 100% 23%);
  --danger: hsl(4 99% 37%);
  --warning: hsl(50 100% 12%);
  --success: hsl(159 100% 9%);
  --info: hsl(215 95% 42%);
  oklch 
  --bg-dark: oklch(0.92 0.1 211);
  --bg: oklch(0.96 0.1 211);
  --bg-light: oklch(1 0.1 211);
  --text: oklch(0.15 0.2 211);
  --text-muted: oklch(0.4 0.2 211);
  --highlight: oklch(1 0.2 211);
  --border: oklch(0.6 0.2 211);
  --border-muted: oklch(0.7 0.2 211);
  --primary: oklch(0.4 0.2 211);
  --secondary: oklch(0.4 0.2 31);
  --danger: oklch(0.5 0.2 30);
  --warning: oklch(0.5 0.2 100);
  --success: oklch(0.5 0.2 160);
  --info: oklch(0.5 0.2 260);
}
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: var(--bg);
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: var(--info);
    text-decoration: none;
}

a:hover {
    color: var(--info);
}

p {
    color: var(--text);
    font-size: var(--regular-text);
}

button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--bg);
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  box-shadow: var(--shadow-s);
  cursor: pointer;
  font: var(--p);
  color: var(--text);
  transition: var(--transition);
}

hr {
    width: 90%;
    border: 1px solid var(--text);
    margin: auto;
}

.section {
    padding: 2rem;
    margin: 7% auto 10% auto;
    color: var(--text);
    width: 90%;
}

.cards {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.card {
    mid-width: 300px;
    max-width: 60%;
    padding: 1rem;
    box-shadow: var(--shadow-s);
    margin: var(--box-margin);
    border-radius: 8px;
}

.card:hover {
    background: var(--bg-light);
    box-shadow: var(--shadow-m);
    transition: var(--transition);
    cursor: pointer;
}

/* FOOTER */
footer {
    color: var(--text);
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    font-size: var(--regular-text);
}


/* NAVBAR */

.logo {
    color: var(--primary)
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 50px;
    height: 100px;
}

nav .left a {
    color: var(--text);
    font-size: var(--h4-text);
    font-weight: 600;
    transition: .3s;

}

nav .right {
    color: var(--info);
    margin: 0 10px;
    transition: .1s;
    font-size: var(--h4-text);
}

.toggle-btn {
    border: 1px solid var(--border-muted);
    width: .5rem;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 10px var(--border-muted);
    opacity: 0.6;
}

.toggle-btn:hover {
    opacity: 1;
    transition: 0.3s;
    box-shadow: 1px 1px 10px var(--border);
}

.lightbulb {
    padding: 0;
}


nav .right a span {
    margin-left: 5px;
    padding: 5px 6px;
}


